{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendor Home Page</title>
    <link rel="stylesheet"  type="text/css" href="{%static  'style.css'%}">

</head>
<body>

<header>
        <nav>
            <ul class="menu">
                <li><a href="{%url 'Index'%}">Home</a></li>
                <li> <a href="{%url 'add_package' %}">Add Packages</a></li>
                <li> <a href= "{%url 'packagedetail' %}">View Packages</a></li>
                <li><a href="{% url 'confirmlist'%}">Booking List</a></li>
                
            </ul>

    
</body>
</html>